[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = https://github.com/layr-labs/eigenlayer-middleware
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/dcap-v3-attestation"]
	path = contracts/dcap-v3-attestation
	url = https://github.com/automata-network/automata-dcap-v3-attestation
