# Compiler files
cache/
out/

# Ignores development broadcast logs
contracts/broadcast/
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
contracts/scripts/output/

# Docs
docs/

# Dotenv file
.env
config/
.DS_Store
/bin
contracts/script/output/avs_deploy_localhost.json
contracts/script/output/tee_deploy_output_localhost.json
scripts/deploy.sh
